@tailwind components;

@layer components {
    .show-on-desktop {
      @apply hidden lg:flex lg:basis-auto;
    }
}

header{
    background-color: #FFFFFF;
    padding: .75rem 0;
}
header .menu__items{
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown{
    position: absolute;
    top: 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-width: 9rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    display: none;
    z-index: 2;
}
.dropdown.show{
    display: block;
}
.dropdown .dropdown-submenu{
    position: absolute;
    left: 100%;
    top: 0px;
}
.arrow{
    display: inline-block; /* Để đảm bảo thẻ span có thể xoay */
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
}
.arrow.rotate{
    transform: rotate(180deg); /* Xoay 180 độ khi hover vào button */
}

.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__navbar-list{
    display: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    gap: 24px;
}
.header__navbar-item{
    font-size: 14px;
    color:#919eab;
    padding: 16px 12px 16px 12px;
}
.grid-header{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.header__search{
    display: flex;
    position: relative;
    gap: 20px;
    
}
.header__search--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #E2E7ED;
    right: 38px;
    top: 50%;
    transform: translateY(-50%);
}
.search__input{
    width: 280px;
    height: 42px;
    border-radius: 20px;
    border: solid #E2E7ED;
    border-width: 1px; 
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    gap: 10px;
}
.search__input button{
    border: 0;
    background-color: #fff;
    padding-top: 5px
}
.search__input input{
    padding: 10px;
    border: 0;
    font-size: 15px;
    height: 40px;
}
.search__input input:focus {
    outline: none;
    box-shadow: none; /* Đảm bảo không có đổ bóng nếu trình duyệt thêm */
}
.search__text:focus{
    border: 0;

}
.header__cart{
    padding-top: 3px;
}
.content-1{
    display: flex;
}
.footer{
    background-color: #003468;
    height: 100px;
}
.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    display: flex;
}
.main-content{
    margin: 0px 320px 0px 320px;
}
.content-2{
    display: flex;
}
@media (min-width: 1200px) {
    .grid-header {
        max-width: 1280px;
    }
}
@media (min-width: 1024px){
    .hide-on-desktop{
        display: none ;
    }
};
